{{!master(layout/_master.tmpl)}}
{{#isErrorPage}}
{{>partials/error_layout}}
{{/isErrorPage}}
{{#isHome}}
{{>partials/index_layout}}
{{/isHome}}
{{#isAuthorPage}}
{{>partials/author_layout}}
{{/isAuthorPage}}
{{#isTagPage}}
{{>partials/tag_layout}}
{{/isTagPage}}
{{#isTagsIndexPage}}
{{>partials/tag_layout}}
{{/isTagsIndexPage}}
{{#isPost}}
{{^isHome}}
{{^isAuthorPage}}
{{^isTagPage}}
{{^isTagsIndexPage}}
{{>partials/post_layout}}
{{/isTagsIndexPage}}
{{/isTagPage}}
{{/isAuthorPage}}
{{/isHome}}
{{/isPost}}
{{#isPage}}
{{^isHome}}
{{^isAuthorPage}}
{{^isTagPage}}
{{^isTagsIndexPage}}
{{^isPost}}
{{>partials/page_layout}}
{{/isPost}}
{{/isTagsIndexPage}}
{{/isTagPage}}
{{/isAuthorPage}}
{{/isHome}}
{{/isPage}}
{{^isPost}}
{{^isPage}}
{{^isTagPage}}
{{^isTagsIndexPage}}
{{^isAuthorPage}}
{{^isHome}}
{{^isErrorPage}}
{{{conceptual}}}
{{/isErrorPage}}
{{/isHome}}
{{/isAuthorPage}}
{{/isTagsIndexPage}}
{{/isTagPage}}
{{/isPage}}
{{/isPost}}