# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Work in progress locally
missing_*

# Environment variables
.env*
!.env.example

# GhostFx related information
ghostfx.json
ghostfx.http
_ghost_templates/

# Firebase
.firebase/
.firebaserc
firebase.json
firebase-debug.log
